<footer class="--bg-dark">
  <section class="container --py-2 --is-relative">
    <div class="newsletter --is-absolute --top-min-1 --right-0 --bg-gradient">
      <h3 class="--tx-light --ml-1">Newsletter</h3>
      <form>
        <input type="email" />
        <input type="button" value="Join" />
      </form>
    </div>
    <h3 class="--tx-secondary --mb-0 --mt-0 --w-5ch --w-md-10ch">©2021 TNR</h3>
    <div class="--d-flex --flex-wrap --mt-2">
      <ol class="--tx-light --list-none --pl-0">
        <li class="--fw-bolder --tx-secondary --mb-half">Follow Us</li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">Github</a></li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">Youtube</a></li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">RSS</a></li>
      </ol>
      <ol class="--tx-light --ml-3 --list-none --pl-0">
        <li class="--fw-bolder --tx-secondary --mb-half">Contact Us</li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">Telegram</a></li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">Email</a></li>
      </ol>
      <ol class="--tx-light --ml-3 --list-none --pl-0">
        <li class="--fw-bolder --tx-secondary --mb-half">Site</li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">FAQs</a></li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">About</a></li>
        <li><a class="--tx-semi-light --tx-decor-none --lh-15 hover:underline" href="#">Arsip</a></li>
      </ol>
    </div>
  </section>
</footer>
<script src="{{ "js/main.js" | absURL }}"></script>
<script>
  (function() {
    // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://toufiqnuur.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>